[base de données]
    adresse: sqlite:///inventaire.db
    tables: ['boîtes']

[tkinter]
    title: Inventaire du département de génie physique à Polytechnique Montréal

[common]
    index: int
    quantité: int
    description: str

[inventaire]
    local: str
    armoire: str
    étagère: int
    case: int
    nom: str
    fabricant: str
    fournisseur: str
    référence_fournisseur: str
    documents: pathlib.Path
    photos: pathlib.Path
    responsable: str
    emprunte: bool
    emprunte_par: str
    emprunte_le: datetime.date

[vis]
    taille: str
    pas: str
    métrique: bool
    longueur: float
    tête: str
    matériel: str

[boîtes]
    local: str
    reponsable: str
    largeur: int
    longueur: int
    hauteur: int
